:root {
  --basic-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-deep-blue: #5496BD;
  --basic-brown: #766357;
  --basic-dark-brown: #604E43;
  --basic-deep-brown: #503E33;
  --basic-black: #000000;
  --basic-neutral: #eeeeee;
  --basic-gray: #f2f2f2;
  --basic-white: #ffffff;
  --basic-dark-gray: #888888;
  --basic-warm-gray: #BDBBBC;
  --basic-light-gray: #e5e5e5;
  --basic-pastel-gray: #ebebeb;
  --basic-deep-gray: #666666;
  --basic-shadow-black: rgba(0, 0, 0, 0.25);
  --basic-transparent: rgba(255, 255, 255, 0.9);
  --basic-shadow-gray: rgba(0, 1, 1, 0.15);
  --basic-shadow-dark-gray: rgba(0, 1, 1, 0.2);
}

/*===== global =====*/

.page-body {
  width:100%;
  min-width: 1200px;
  margin: 0;
  padding: 0;
   
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
}

.container{
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  margin: 0 auto;

  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--basic-shadow-dark-gray);
}

.reset-list{
  margin: 0;
  padding: 0;

  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*===== header =====*/

.main-header {
  display:grid;
}

.main-header-logo {
  grid-row-end: 3;
  grid-column-start:1 ;
  grid-row-start: 1;
  justify-self: center;
}

.main-navigation {
  width: 100%;
  grid-column-start:1 ;
  grid-row-start: 1;
  line-height: 26px;
  font-weight: 700;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 72px;
}

.site-navigation a {
  display: block;
  padding: 15px 0;

  font-weight: 700;
  text-decoration: none;
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color:  var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*===== welcome =====*/

.welcome-intro {
  display: flex;

  width: 1200px;
  height: 510px;
  max-width: 100%;
  justify-content: center;
  align-items: center;

  background-color: var(--basic-dark-blue);
  background-image: url("../img/background-main.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.description{
  width: 1200px;
  margin-bottom: 51px;

  line-height: 26px;
  text-align: center;
}

.description h2 {
  margin-top: 42px;
  margin-bottom: 35px;
  font-size: 21px;
}

/*===== main =====*/
.main{
  grid-column-start: 1;
  grid-row-end:-1;
}

.reasons-list {
  display:grid;
  grid-template-rows: min-content min-content min-content min-content ;
}
 
.reasons-item {
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  justify-content: center;

  background-color: var(--basic-dark-blue);
}

.reasons-item:first-child{
  order:-2;
}

.reasons-img {
  display:block;
}

.two-reason{
  order:-1;
}

.reasons h3 {
  margin: 0;
  font-size: 21px;
}

.first-reason {
  padding: 47px;
  
  color: var(--basic-white);
  text-align: center;
}

.second-reasons-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  padding-top: 47px;
  padding-bottom: 54px;

  background-color: var(--basic-neutral);
}

.second-reasons-item {
  text-align: center;
}

.advantages {
  order:-1;
}

.advantages-list{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin-top: 160px;
  margin-bottom: 82px;

  text-align: center;
}

.advantage-item{
  position: relative;
}

.advantage-item::before {
  position: absolute;
  content: "";
  top: -100px;
  left: 150px;
  width: 75px;
  height: 80px;
  background-repeat:no-repeat ;
  background-position: 50% 50% ;
}

.advantage-item-house::before{
  background-image: url("../img/icons/house-icon.svg");
}

.advantage-item-food::before{
  background-image: url("../img/icons/food-icon.svg");
}

.advantage-item-souvenir::before{
  background-image: url("../img/icons/souvenir-icon.svg");
}

/*===== button =====*/

.button {
  padding: 10px 195px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--basic-white);

  border: none;
}

.button-small{
  padding: 3px 16px;
  font-size: 14px;
  line-height: 21px;
}

.button-big {
  padding: 30px 137px;
}
.button.button-blue.button-mid {
  margin-top: 54px;
}

.button-blue {
  background-color: var(--basic-blue);
}

.button-blue:hover {
  background: var(--basic-dark-blue);
}

.button-blue:focus {
  background: var(--basic-deep-blue);
  box-shadow: 0px 4px 4px var(--basic-shadow-black);
}

.button-blue:focus span{
  mix-blend-mode: normal;
  opacity: 0.3;
}

.button-brown {
  background-color: var(--basic-brown);
}

.button-brown:hover {
  background: var(--basic-dark-brown);
}

.button-brown:focus {
  background: var(--basic-deep-brown);
  box-shadow: 0px 4px 4px  var(--basic-shadow-black);
}

.button-brown:focus span {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.button-transparent {
  padding: 7px 35px;
  margin-left: 95px;
  margin-top: 10px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);
  
  background-color: transparent;
  border: solid 2px var(--basic-white);
  border-radius: 2px;
}

.button-transparent:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.button-sort{
  padding: 0;
  margin-right: 32px;

  text-transform: uppercase;
  text-decoration: underline;

  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.button-sort:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.button-sort:focus {
  opacity: 1;
  text-decoration: none;
}

.button-sort:active {
  color: var(--basic-blue);
  text-decoration: none;
  opacity: 1;
}

.button-arrow {
  margin-top: 26px;
  margin-left: 12px;
  padding: 0;
  width: 11px;
  height: 10px;
  border: none;
  background-color: transparent;
}

.button-arrow:hover path{
  fill: var(--basic-black)
}

.button-arrow:focus path,
.button-arrow:active path{
  fill: var(--basic-blue)
}

/*===== search-form =====*/

.search-form {
  position: relative;
  margin-top: 58px;
  line-height: 24px;
  text-align: center;
}
.search-form h2 {
  font-size: 30px;
  margin-bottom: 35px;
}
.search-form > p {
  margin-bottom: 50px;
}

.search-form-popup {
  position: absolute;
  left: 315px;

  width: 568px;
  height: 395px;
  line-height: 26px;
  font-weight: 700;

  background: var(--basic-white);
  box-shadow: 0px 7px 15px var(--basic-shadow-gray);
}

.search-form-intro {
  display: flex;
  flex-wrap: wrap;
  margin: 55px;
}

.search-item ,
.search-item label {
  margin: 0;
}

.search-item input {
  height: 38px;
  font:inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-gray);
  border: none;
  outline: none;
}

.search-item input:hover {
  background-color: var(--basic-pastel-gray);
}

.search-item input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-light-gray);
}

.search-date {
  width:460px;
  margin-bottom: 30px;
}

.search-date input { 
  width: 320px;
  padding: 0 13px;
  margin-left: 15px;
}
.search-date label{
  position: relative;
}

.search-date label::after{
  content: "";
  position: absolute;
  top: -10px;
  left: 390px;
  width: 38px;
  height: 38px;
  background-color:transparent;
  background-image: url("../img/icons/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position:center;
}

.search-people {
  width:229px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.search-people input{
  width: 114px;
  padding: 0;
  text-align: center;
  margin-left: 30px;
}

.search-people label{
  position: relative;
}

.search-people label::before{
  content: "";
  position: absolute;
  top: -10px;
  right: -70px;
  width: 38px;
  height: 38px;
  background-color:transparent;
  background-image: url("../img/icons/minus-icon.svg");
  background-repeat: no-repeat;
  background-position:center;
}

.search-people label::after{
  content: "";
  position: absolute;
  top: -10px;
  right: -150px;
  width: 38px;
  height: 38px;
  background-color:transparent;
  background-image: url("../img/icons/plus-icon.svg");
  background-repeat: no-repeat;
  background-position:center; 
}


/*===== footer =====*/

.main-footer {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: end;
  grid-row-end: -1;
  grid-column-start: 1;
  padding-bottom: 36px;
  line-height: 26px;
  background: var(--basic-transparent);
}

.footer-contacts {
  margin-top: 23px;
  margin-left: 72px;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: 700;
  text-align: center;
}
.footer-contacts p{
  margin: 0;
  margin-bottom: 10px;
}

.phone {
  color: var(--basic-black);
  text-decoration: none;
}
.logo-academy {
  margin-left: 15px;
}

.logo-academy:hover path {
  fill: var(--basic-blue)
}

.logo-academy:focus path {
  fill: var(--basic-warm-gray);
}

.footer-copyright{
  display: flex;
  justify-self: end;
  align-items: auto;
  align-self: flex-end;
  margin: 0;
  margin-right: 130px;
}

.footer-social {
  margin-top: 36px;
  width: 155px;
  justify-self: center;
  text-align: center;
}
.footer-social ul{

  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;
}

/*===== social button =====*/

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  color: inherit;

  background-color: var(--basic-blue);
}

.social-button:hover {
  background: var(--basic-dark-blue);
}

.social-button:focus {
  background: var(--basic-deep-blue);
  box-shadow: 0px 4px 4px var(--basic-shadow-black);
}

.social-button:focus path {
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*===== catalog =======*/

.filters {
  width: 1200px;
  max-width: 100%;
  height: 217px;

  color: var(--basic-white);

  background-color: var(--basic-dark-blue);
  background-image: url("../img/background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filters-form {
  display: grid;
  grid-template-columns: 250px 250px 1fr;
  margin: 0 72px;
  padding-top: 26px ;
}

.filters legend {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}

.filter {
  margin: 0;
  padding: 0;
  border: none;
}

.filter:last-child {
  justify-self: end;
}

.filter-option {
  margin-left: 38px;
  margin-bottom: 25px ;
}

.filter-option label {
  position: relative;
  display: block;
}

.filter-input-checkbox + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -38px;
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -38px;
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0px 52px;
  width: 212px;
  height: 36px;
  border: solid 2px var(--basic-white);
  border-radius: 2px;
}

.price-controls input {
  width: 40px;
  padding:11px 0;
  text-align:left;
  border: none;
  background-color: transparent;
  color: var(--basic-white);
}

.price-controls .line {
  position: absolute;
  left: 159px;
  top: 7px;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.range-controls {
  position: relative;
  height: 9px;
  padding-top: 9px;
  margin-bottom: 20px;
}
.range-controls .scale {
  width: 316px;
  margin: 10px 0;
  height: 2px;
  background: var(--basic-white);
  mix-blend-mode: normal;
  opacity: 0.3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.range-controls .bar {
  width: 248px;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/filter-button.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.range-controls .toggle-max {
  left: 248px;
}

.result {
  display:flex;
 align-items: flex-start;
  margin: 0 72px;
}

.result h2 {
  margin-top: 15px;
  margin-right: 48px;
  margin-bottom: 45px;
}

.sort {
  display: flex;
  margin: 0;
  margin-top: 17px;
  font-size: 12px;
  line-height: 18px;
}

.sort p {
  margin: 0;
  margin-right: 40px;
}

.sort-up-down {
  flex-grow: 1;
  text-align: end;
}

.catalog-item {
  border-top: solid 2px var(--basic-light-gray);
}

.catalog-item:last-child {
  border-bottom: solid 2px var(--basic-light-gray);
}

.product{
  display: grid;
  grid-template-columns: 135px 260px 1fr;
  grid-gap: 29px;
  margin: 30px 72px;
}

.product-image {
  order:-1;
}

.product-description {
  display: flex;
 
  flex-wrap: wrap;
  width: 260px;
}

.product-description p{
  width: 110px;
  margin: 0;
  margin-right: 6px; 
}

.product a {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-black);
}

.product a:hover{
  color: var(--basic-blue);
}

.product a:focus {
  color:  var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.product-rating {
  position: relative;
  justify-self: flex-end;
  margin-top: auto;
  padding: 3px 15px;
  color: var(--basic-deep-gray);
  background-color: var(--basic-gray);
}

.product-rating::before {
  position: absolute;
  content: "";
  top:-70px;
  right: 0;
  width: 100px;
  height: 19px;
  background-image: url("../img/icons/star-icon.svg"), url("../img/icons/star-icon.svg");
  background-position: right top , right 25px top;
  background-repeat: no-repeat, no-repeat;
}

.rating-amara-resort::after{
  position: absolute;
  content: "";
  top:-70px;
  right: 0;
  width: 100px;
  height: 19px;
  background-image: url("../img/icons/star-icon.svg"), url("../img/icons/star-icon.svg");
  background-position: right 50px top, right 75px top;
  background-repeat: no-repeat, no-repeat;
}

.rating-desert-quail-inn::after{
  position: absolute;
  content: "";
  top:-70px;
  right: 0;
  width: 100px;
  height: 19px;
  background-image: url("../img/icons/star-icon.svg");
  background-position: right 50px top;
  background-repeat: no-repeat;
}