:root {
  --basic-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-deep-blue: #5496BD;
  --basic-brown: #766357;
  --basic-dark-brown: #604E43;
  --basic-deep-brown: #503E33;
  --basic-black: #000000;
  --basic-neutral: #eeeeee;
  --basic-gray: #f2f2f2;
  --basic-white: #ffffff;
  --basic-dark-gray: #888888;
  --basic-warm-gray: #BDBBBC;
  --basic-light-gray: #e5e5e5;
  --basic-pastel-gray: #ebebeb;
  --basic-deep-gray: #666666;
  --basic-shadow-black: rgba(0, 0, 0, 0.25);
  --basic-transparent: rgba(255, 255, 255, 0.9);
  --basic-shadow-gray: rgba(0, 1, 1, 0.15);
  --basic-shadow-dark-gray: rgba(0, 1, 1, 0.2);
}

/*===== global =====*/

.page-body {
  width:100%;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-black);
}

.container{
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--basic-shadow-dark-gray);
}

.reset-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

/*===== header =====*/

.main-header {
  display:grid;
}

.main-header-logo {
  justify-self: center;
}

.main-navigation {
  line-height: 26px;
  font-weight: 700;
}

.site-navigation a {
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color:  var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*===== welcome =====*/

.welcome-intro {
  width: 1200px;
  height: 510px;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;

  background-color: var(--basic-dark-blue);
  background-image: url("../img/background-main.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.description{
  width: 1200px;
  height: 216px;

  line-height: 26px;
  text-align: center;
}

.description h2 {
  font-size: 21px;
}

/*===== main =====*/

.reasons-list {
  display:grid;
  grid-template-rows: 256px 330px 256px 256px;
}

.reasons-item {
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.reasons-item:first-child{
  order:-2;
}

.reasons-img {
  display:block;
}

.two-reason{
  order:-1;
}

.reasons h3 {
  font-size: 21px;
}

.first-reason {
  color: var(--basic-white);
  text-align: center;

  background-color: var(--basic-blue);
}

.second-reasons-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  background-color: var(--basic-neutral);
}

.second-reasons-item {
  text-align: center;
}

.advantages {
  margin: 25px;
  order:-1;
}

.advantages-list{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;

  text-align: center;
}

/*===== button =====*/

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: var(--basic-white);

  border: none;
}
.button-small{
  font-size: 14px;
  line-height: 21px;
}

.button-blue {
  background-color: var(--basic-blue);
}

.button-blue:hover {
  background: var(--basic-dark-blue);
}

.button-blue:focus {
  background: var(--basic-deep-blue);
  box-shadow: 0px 4px 4px var(--basic-shadow-black);
}

.button-blue:focus span{
  mix-blend-mode: normal;
  opacity: 0.3;
}

.button-brown {
  background-color: var(--basic-brown);
}

.button-brown:hover {
  background: var(--basic-dark-brown);
}

.button-brown:focus {
  background: var(--basic-deep-brown);
  box-shadow: 0px 4px 4px  var(--basic-shadow-black);
}

.button-brown:focus span {
  mix-blend-mode: normal;
  opacity: 0.3;
}

.button-transparent {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-white);

  background-color: transparent;
  border: solid 2px var(--basic-white)
}

.button-transparent:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.button-sort{
  text-transform: uppercase;
  text-decoration: underline;

  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.button-sort:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.button-sort:focus {
  opacity: 1;
  text-decoration: none;
}

.button-sort:active {
  color: var(--basic-blue);
  text-decoration: none;
  opacity: 1;
}

/*===== search-form =====*/

.search-form {
  line-height: 24px;
  text-align: center;
}
.search-form h2 {
  font-size: 30px;
}

.search-form-popup {
  width: 568px;
  height: 395px;

  line-height: 26px;
  font-weight: 700;

  background: var(--basic-white);
  box-shadow: 0px 7px 15px var(--basic-shadow-gray);
 }

.search-item input {
  font:inherit;
  color: var(--basic-black);
  text-transform: uppercase;

  background-color: var(--basic-gray);
  border: none;
  outline: none;
}

.search-item input:hover {
  background-color: var(--basic-pastel-gray);
}

.search-item input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-light-gray);
}

/*===== footer =====*/

.main-footer {
  line-height: 26px;
  background: var(--basic-transparent);
}

.main-footer .container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: 700;
  text-align: center;
}

.phone {
  color: var(--basic-black);
  text-decoration: none;
}

.logo-academy:hover svg path {
  fill: var(--basic-blue)
}

.logo-academy:focus svg path {
  fill: var(--basic-warm-gray);
}

.footer-copyright{
  text-align: center;
  vertical-align: middle;
}

.footer-social {
  width: 145px;
  justify-self: center;
  text-align: center;
}

/*===== social button =====*/

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;

  color: inherit;

  background-color: var(--basic-blue);
}

.social-button:hover {
  background: var(--basic-dark-blue);
}

.social-button:focus {
  background: var(--basic-deep-blue);
  box-shadow: 0px 4px 4px var(--basic-shadow-black);
}

.social-button:focus path {
  mix-blend-mode: normal;
  opacity: 0.3;
}

/*===== catalog =======*/

.filters {
  width: 1200px;
  max-width: 100%;
  height: 217px;

  color: var(--basic-white);

  background-color: var(--basic-dark-blue);
  background-image: url("../img/background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filters-form {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.filters legend {
  font-size: 16px;
  font-weight: 700;
}

.filter {
  border: none;
}

.sort {
  font-size: 12px;
  line-height: 18px;
}

.product{
  display: grid;
  grid-template-columns: 135px 1fr;
  grid-gap: 29px;
  padding: 30px 70px;
  border: solid 2px var(--basic-light-gray);
}

.product-image {
  order:-1;
}

.product a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-black);
}

.product a:hover{
  color: var(--basic-blue);
}

.product a:focus {
  color:  var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.product-description>span {
  color: var(--basic-deep-gray);
  background-color: var(--basic-gray);
}

